@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&family=Poppins&display=swap');

/*1112px*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: 'DM Sans', sans-serif;
}

body, html {
    height: 100%;
    color: #DCDCDD;
}

::-webkit-scrollbar {
    display: none;
}

.container {
    position: relative;
    display: flex;
    background-color:#46494C;
    flex-wrap: wrap;
}

.mask {
    z-index: 1;
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to right, #d6d3cf0b 1px, transparent 1px),
    linear-gradient(to top, #d6d3cf0b 1px, transparent 1px);
    background-size: 3px 3px;
}

.menu {
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding-top: 1rem;
    padding-left: 1.56rem;
    padding-right: 1.56rem;
    padding-bottom: 4rem;
    background-color: #232426;
}   

.logo {
    width: 10rem;
}

.menu-icon {
    display: none;
}

.block-menu {
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 15rem;
}

.menu li a {
    position: relative;
    color: #DCDCDD;
}

a:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 3px;
    bottom: 0;
    left: 0;
    background-color: #DCDCDD;
    visibility: hidden;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
}

a:hover:before {
    visibility: visible;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
}

.contact-button {
    font-weight: 700;
    background-color: #19A180;
    color: #DCDCDD;
    border: none;
    padding: 0.60rem 0.72rem;
    border-radius: 0.62rem;
    font-size: 1rem;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 3rem 1.56rem 8rem 1.56rem;
    background-color: #232426;
    
}

.text {
    width: 50%;
    color: #DCDCDD;
}

.subtitle {
    color: #19A180;
    font-family: 'DM Sans', sans-serif;
    font-weight: 500;
    font-size: 1.05rem;
}

.title {
    font-family: 'DM Sans', sans-serif;
    font-weight: 700;
    width: 30rem;
    font-size: 3.88rem;
    margin-bottom: 0.5rem;
}

.content {
    font-family: 'Poppins', sans-serif;
    font-size: 1.23rem;
    width: 35rem;
    margin-bottom: 2.13rem;
}

.introduction .contact-button {
    font-size: 1.2rem;
    padding: 0.80rem 0.92rem;
}

.ilustration-intro {
    width: 40rem;
}

.skills {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding-left: 1.56rem;
    padding-right: 1.56rem;
    background-image: linear-gradient(to bottom, #232426 1rem, transparent );
}

.skills .text {
    margin-top: 7rem;
}

.icons {
    width: 30rem;
}

.about {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 5rem;
    padding-left: 1.56rem;
    padding-right: 1.56rem;
    width: 100%;
}

.about-content {
    z-index: 111;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 41.25rem;
}

.perfilimg {
    display: flex;
    justify-content: flex-end;
}

.perfil {
    height: 100%;
    width: 80%;
}

.projects {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding-bottom: 3rem;
    padding-left: 1.56rem;
    padding-right: 1.56rem;
    width: 100%;
}

.projects .title {
    width: 100%;
    color: #DCDCDD;
    text-align: center;
}

.projects img {
    width: 100%;
}

.contact-me {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    padding-left: 2.16rem;
    padding-right: 2.16rem;
}

.modal {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
    height: 50rem;
    padding-top: 10rem;
}

.modal-square {
    position: absolute;
    background-color: hsla(165, 73%, 36%, 0.3);
    width: 100%;
    height: 45rem;
    border-radius: 20px;
}

.five {
    transform: rotate(2deg);
    background-color: hsla(165, 73%, 36%, 0.3);
}

.modal-content {
    z-index: 1;
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}

.modal-content .title {
    width: 90%;
    text-align: center;
}

.contact-ilustration {
    display: flex;
    justify-content: center;
    width: 40%;
    height: 55%;
}

.contact-text .title {
    color: #DCDCDD;
}

.contact-text img {
    width: 80%;
}

.inputs {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    align-content: space-between;
    justify-content: space-between;
    width: 50%;
    height: 80%;
}

textarea:focus, input:focus, select:focus {
    box-shadow: 0 0 0 0;
    border: 0 none;
    outline: 0;
} 

.inputs input {
    background-color: transparent;
    border: 0.18rem solid #DCDCDD;
    width: 100%;
    height: 3.5rem;
    border-radius: 20px;
    color: #DCDCDD;
    font-size: 1rem;
    font-weight: 500;
    padding-left: 0.36rem;
}

.inputs input::placeholder, textarea::placeholder {
    color: #DCDCDD;
    font-size: 1rem;
    font-weight: 500;
}

.inputs textarea {
    resize: none;
    width: 100%;
    height: 16rem;
    background-color: transparent;
    border: 0.18rem solid #DCDCDD;
    border-radius: 20px;
    padding-top: 0.46rem;
    padding-left: 0.36rem;
    color: #DCDCDD;
    font-size: 1rem;
    font-weight: 500;
}

input[type="button"] {
    align-self: flex-end;
    margin-left: 30%;
    width: 40%;
    background-color: #19A180;
    color: #DCDCDD;
    border: none;
    border-radius: 0.62rem;
    font-size: 1.4rem;
    font-weight: 500;
    font-family: 'DM Sans', sans-serif;
}

input[name="ddd"] {
    width: 20%;
}

input[name="telefone"] {
    width: 79%;
}

footer {
    padding-top: 10rem;
    width: 100%;
}

.layer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-image: linear-gradient(to bottom, #2a2d2f00, #2A2D2F);
    color: #dcdcdd90;
    width: 100%;
    height: 5rem;
    padding-left: 2.16rem;
    padding-right: 2.16rem;
}

.social i{
    font-size: 2.5rem;
    margin-left: 2rem;
}

.menu .social i{
    color: #DCDCDD;
    font-size: 2rem;
}

.small {
    display: flex;
    width: 50%;
    padding: 0;
    align-items: center;
    justify-content: flex-start;
}

.container-modal {
    position: relative;
    height: 40rem;
}

.small-square {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 0.5rem;
    width: 12rem;
    height: 12rem;
    border-radius: 0.62rem;
    border: #19A180 0.35rem solid;
    background-color: #2d2e30;
    background-image: linear-gradient(to right, #d6d3cf0b 1px, transparent 1px),
    linear-gradient(to top, #d6d3cf0b 1px, transparent 1px);
    background-size: 3px 3px;
}

.one {
    z-index: 1;
    top: 5rem;
    left: 2rem;
}

.two {
    z-index: 1;
    top: 8rem;
    left: 19rem;
}

.tree {
    z-index: 1;
    top: 25rem;
    left: 19rem;
    background-color: #383a3c;
}

.four {
    z-index: 1;
    top: 22rem;
    left: 2rem;
    background-color: #383a3c;
}

.oneb {
    top: 6rem;
    left: 1rem;
    background-color: #23242667;
}

.twob{
    top: 9rem;
    left: 18rem;
    background-color: #23242667;
}

.treeb{
    top: 26rem;
    left: 18rem;
    background-color: #23242667;
}

.fourb{
    top: 23rem;
    left: 1rem;
    background-color: #23242667;
}

.card-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.card-icon {
    width: 5rem;
}

.card-title {
    width: 100%;
    font-size: 0.85rem;
}

.card-text {
    width: 90%;
    text-align: center;
    font-size: 0.85rem;
}

@media (max-width:1235px) {
    .ilustration-intro {
        width: 30rem;
    }

    .small-square {
        width: 11rem;
        height: 11rem;
    }

    .card-icon {
        width: 4rem;
    }
}

@media (max-width:1095px) {

    .introduction .content {
        width: 30rem;
    }

    .skills {
        flex-wrap: wrap;
        justify-content: flex-end;
        align-items: flex-start;
    }

    .small {
        height: auto;
        width: 50%;
    }

    .skills .text {
        width: 50%;
    }

    
}

@media (max-width:1040px) {
    header {
        flex-wrap: wrap-reverse;
        justify-content: center;
        text-align: center;
    }

    .ilustration-intro {
        width: 80%;
        padding-bottom: 6rem;
    }

    .introduction {
        display: flex;
        width: 100%;
        flex-direction: column;
        align-items: center;
    }

    .title {
        font-size: 4rem;
        width: 100%;
    }

    .subtitle {
        font-size: 1.25rem;
    }

    .introduction .content, .content {
        text-align: justify;
        font-size: 1.53rem;
        width: 100%;
    }

    .introduction .contact-button {
        font-size: 1.4rem;
        padding: 1.10rem 1.15rem;
    }

    .skills {
        flex-wrap: wrap;
        justify-content: center;
        text-align: center;
    }

    .small {
        justify-content: center;
        align-items: flex-start;
        width: 100%;
        padding: 0;
    }

    .container-modal {
        width: 50rem;
        height: 45rem;
    }

    .small-square {
        width: 15rem;
        height: 15rem;
    }

    .card-icon {
        width: 7rem;
    }

    .card-title {
        font-size: 1.05rem;
    }

    .card-text {
        font-size: 1.05rem;
    }

    .one {
        z-index: 1;
        top: 0rem;
        left: 2rem;
    }
    
    .two {
        z-index: 1;
        top: 3rem;
        left: 35rem;
    }
    
    .tree {
        z-index: 1;
        top: 25rem;
        left: 35rem;
        
    }
    
    .four {
        z-index: 1;
        top: 22rem;
        left: 2rem;
        
    }
    
    .oneb {
        top: 1rem;
        left: 1rem;
    }
    
    .twob{
        top: 4rem;
        left: 34rem;
    }
    
    .treeb{
        top: 26rem;
        left: 34rem;
    }
    
    .fourb{
        top: 23rem;
        left: 1rem;
    }

    .skills .text {
        width: 100%;
        margin: 0;
    }

    .text .content {
        text-align: justify;
    }

    .about {
        flex-wrap: wrap-reverse;
        justify-content: center;

    }
    .perfilimg {
        justify-content: center;
        align-items: flex-end;
        margin-bottom: 3rem;
    }
    .perfil {
        width: 70%;
    }

    .about-content {
        width: 100%;
        text-align: center;
        height: auto;
    }

    .modal {
        height: 60rem;
        padding-top: 5rem;
    }

    .modal-content .title {
        width: 95%;
    }

    .modal-square {
        height: 60rem;
    }

    .contact-ilustration {
        display: none;
    }

    .inputs {
        width: 90%;
        height: 70%;
    }

    .inputs input {
        height: 4rem;
    }
}

@media (max-width:858px) {
    .small {
        padding: 0;
        height: 45rem;
    }

    .container-modal {
        width: 37rem;
    }

    .small-square {
        width: 11rem;
        height: 11rem;
    }

    .card-icon {
        width: 3rem;
    }

    .card-title, .card-text {
        font-size: 0.90rem;
    }

    .two {
        z-index: 1;
        top: 3rem;
        left: 25rem;
    }
    
    .tree {
        z-index: 1;
        top: 25rem;
        left: 25rem;
    }

    .twob{
        top: 4rem;
        left: 24rem;
    }
    
    .treeb{
        top: 26rem;
        left: 24rem;
    }
}