.service-card {
  display: flex;
  /* border: 1px solid #424242; */
  background-color: #303030;
  flex-direction: column;
  min-width: 20rem;
  padding: 2rem 3rem;
  justify-content: space-between;
  gap: 1rem;
  border-radius: 1rem;
}
.service-card-title {
  font-family: "Audiowide", sans-serif;
  font-size: 1.4rem;
}
.service-card-description {
  font-size: 1.1rem;
}

.service-card-icon {
  color: #fff;
  font-size: 10rem;
  max-width: 10rem;
}
