.contact-button {
    font-weight: 500;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    background-color: #19A180;
    color: #DCDCDD;
    font-size: 18px;
    cursor: pointer;
}

@media (max-width: 750px) {
    .contact-button {
        font-size: 22px;
    }
}
