.content {
    display: flex;
    align-items: center;
    gap: 10px;
    width: 50%;
    flex-wrap: wrap;
    padding: 70px 0;
}

.right {
    margin: 0;
    margin-right: 35px;
}

.left {
    margin: 0;
    margin-left: 35px;
}

.title {
    color: #dcdcdd;
    font-size: 42px;
    width: 100%;
    height: auto;
}

.subtitle {
    color: #19A180;
    font-weight: 400;
    font-size: 16px;
    width: 100%;
    height: auto;
}

.text-content {
    color: #dcdcdd;
    font-size: 20px;
    width: 100%;
    height: auto;
}

@media (max-width: 750px) {
    .content {
        width: 100%;
        height: 60%;
        margin: 0;
        padding: 0;
        align-content: flex-start;
        flex: 1;
    }

    .title {
        font-size: 36px;
    }

    .subtitle {
        font-size: 14px;
    }

    .text-content {
        font-size: 18px;
    }
}