.content {
    display: flex;
    align-items: center;
    gap: 10px;
    width: 50%;
    flex-wrap: wrap;
    padding: 70px 0;
}

.right {
    margin: 0;
    margin-right: 35px;
}

.left {
    margin: 0;
    margin-left: 35px;
}

.title {
    color: #dcdcdd;
    font-size: 42px;
    width: 100%;
}

.subtitle {
    color: #19A180;
    font-weight: 400;
    font-size: 16px;
    width: 100%;
}

.text-content {
    color: #dcdcdd;
    font-size: 20px;
    width: 100%;
}

@media (max-width: 750px) {
    .content {
        height: 50%;
        width: 100%;
        margin: 0;
    }
}