.card-container {
    display: flex;
    justify-content: space-around;
    align-content: center;
    flex-wrap: wrap;
    width: 50%;
    gap: 30px;
    margin-right: 35px;
}

.responsive-vector {
    background-image: url('../images/responsive.svg');
}

.design-vector {
    background-image: url('../images/grid.svg');
}

.criative-vector {
    background-image: url('../images/brain.svg');
}

.code-vector {
    background-image: url('../images/block.svg');
}

@media (max-width: 750px) {
    .card-container {
        width: 100%;
        margin-right: 0;
        padding-bottom: 15px;
        justify-content: center;
        flex: 1;
    }
}