.email, .text, .textarea, .phone {
    width: 80%;
    height: 50px;
    border: none;
    border-bottom: 2px solid #46494C;
    color: #46494C;
    background-color: transparent;
    margin: 5px 0;
    padding-left: 10px;
}

.email:focus, .text:focus, .textarea:focus, .phone:focus {
    box-shadow: 0 0 0 0;
    outline: 0;
}

.email::placeholder, .text::placeholder, .textarea::placeholder, .phone::placeholder {
    color: #8f8f8f;
    font-weight: 500;
}

.textarea {
    height: 90px;
    padding: 0;
    resize: none;
    padding-top: 10px;
    padding-left: 10px;
}

@media (max-width: 750px) {
    .email, .text, .textarea, .phone {
        font-size: 1rem;
    }

    
}
