.menu-toggle button {
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    background-color: transparent;
    height: 42px;
    width: 42px;
    font-size: 42px;
    padding: 0;
    color: #dcdcdd;
}