.contact-container {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 95px;
}

.contact {
    width: 80%;
    height: 100%;
    justify-content: space-around;
    background-color: #dcdcdd;
    background-image: linear-gradient(to right, #3333330b 1px, transparent 1px),
    linear-gradient(to top, #3333330b 1px, transparent 1px);
    background-size: 3px 3px;
    margin: auto 0;
    padding: 35px 0;
    border-radius: 20px;
}

.content-contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 40%;
}

.content-contact h1 {
    color: #46494C;
    padding: 15px 0;
    width: 80%;
    text-align: center;
}

.content-contact Button {
    margin: 25px 0;
}

.ilustration-contact {
    background-image: url('../images/email.svg');
    width: 40%;
    height: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }

@media (max-width: 750px) {
    .contact-container {
        margin: 0;
    }

    .contact {
        flex-direction: column;
        flex-wrap: wrap;
        width: 100%;
        height: 800px;
        border-radius: 0;
    }

    .content-contact {
        width: 100%;
        height: 60%;
    }

    .ilustration-contact {
        width: 100%;
        height: 40%;
    }
}