@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&family=Poppins&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: 'DM Sans', sans-serif;
}

body {
  z-index: -2;
  background-color: #46494C;
  min-width: 100%;
}

.mask {
  z-index: 2;
  position: absolute;
  min-width: 100%;
  min-height: 100%;
  background-image: linear-gradient(to right, #d6d3cf0b 1px, transparent 1px),
  linear-gradient(to top, #d6d3cf0b 1px, transparent 1px);
  background-size: 3px 3px;
}

::-webkit-scrollbar {
  display: none;
}

h1, h2, h3 {
  font-family: 'DM Sans', sans-serif;
}

p {
  font-family: 'Poppins', sans-serif;
}

.container {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.content-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 350px;
  margin: 30px 35px;
}

.ilustration{
  background-image: url('./images/ilustration.svg');
  width: 50%;
  height: 100%;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  margin-left: 35px;
}





