@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&family=Poppins&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: 'DM Sans', sans-serif;
}

body, html {
  background-color: #46494C;
  width: 100%;
}

h1, h2, h3 {
  font-family: 'DM Sans', sans-serif;
}

p {
  font-family: 'Poppins', sans-serif;
}

.container {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.content-container {
  display: flex;
  min-height: 350px;
  margin: 30px 0;
}

.ilustration {
  background-image: url('./images/ilustration.svg');
  width: 50%;
  height: 100%;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right;
}